* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  body {
      margin: 0;
      padding: 0;
      font-size: 16px;
      background-color: #f7f7f7;
      font-family: Georgia, 'Times New Roman', Times, serif;
    
    }
    h1 {
        text-align: center;
        font-size: 3em;
        margin-top: 50px;
        margin-bottom: 30px;
        color: #222222;
        text-shadow: 1px 1px #999999;
      }
      
     h1::after {
        content: "";
        display: block;
        height: 10px;
        width: 50px;
        margin: 0 auto;
        margin-bottom: 30px;
      }
      
      /* Style the paragraph text */
      p {
        font-size: 1.2em;
        line-height: 1.5;
        text-align: justify;
        color: #444444;
        margin: 0 20px;
      }
    /* Style the header */
    header {
      background-color: silver;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
  
    }
      /* Style the logo */
      .logo img {
        height: 60px;
        width: auto;
      }
      
         /* Style the call-to-action buttons */
    .cta-buttons a {
        display: inline-block;
        padding: 8px 20px;
        margin-left: 20px;
        border-radius: 4px;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        background-color: #e91e63;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      
      .cta-buttons a:hover {
        background-color: #c2185b;
      }
      